@use "design/reset.scss";
@use "design/color.scss";
@use "design/filterButton.scss";


.active {
  display: flex !important;
}

.hide {
  display: none !important;
}

.input-text {
  padding: 17px;
  margin: 11px 0;
  background: #fff;
}

.dark-overlay {
  width: 100%;
  height: 100%;
  background: #0000004D;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
}

body {
  font-family: 'Syne';
  max-width: 1440px;
  margin: 0 auto;
  background: color.$bg-login;
  // padding-top: 50px;
}

button,
a {
  cursor: pointer;
}

.iconInstagram {
  width: 1.209375em;
  height: 1.209375em;
  transition: transform .1s;

  &:hover {
    fill: color.$green;
    transform: scale(1.1);
  }
}

.btn {
  padding: 10px 38px;
  border: none;
  border-radius: 60px;
  background: color.$green;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.8px;
  text-align: center;
  color: #fff;

  &:hover {
    background: #0E2F28;
  }
}

.textHeader {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: color.$green;
}

.errorMessage {
  color: #f00;
  border-top: 2px solid #f00;
  border-bottom: 2px solid #f00;
  background: rgba($color: #f00, $alpha: .2);
  text-align: center;
  padding: 5px 0;
}

.helloMessage {
  color: color.$green;
  border-top: 2px solid color.$green;
  border-bottom: 2px solid color.$green;
  background: rgba($color: color.$green, $alpha: .2);
  text-align: center;
  padding: 5px 0;
}

.editHeader {
  background: black;
  color: white;
  height: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.editSpan {
  display: none;
}

.editIcon {
  width: 15.58px;
  height: 15.58px;
  margin-right: 11px;
}

.editPopup {
  font-family: 'Work Sans';
  background-color: #fff;
  max-width: 630px;
  // max-height: 500px;
  // padding: 0 95px;
  display: none;
  flex-direction: column;
  align-items: center;
  border-radius: 9px;
  font-size: 14px;
  line-height: 16.42px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;

  .editPopup__Header {
    margin: 15px 0px;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
  }

  .editPopup__Gallery {
    margin: 15px 78px;
    display: flex;
    flex-wrap: wrap;

    .editPopup__Gallery__PhotoBox {
      width : 300px;
      height : 200px;
      background : rgba(255,125,125,.5)
    }

    form {
      display: flex;
      flex-direction: column;
    }
  }

  // .editPopup__Form__Image {
  //   width: 420px;
  //   height: 169px;
  //   background: #E8F1F6;
  // }

  .editPopup__Form__UploadBox {
    width: 420px;
    height: 169px;
    background: #E8F1F6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    .editPopup__Form__Image {
      position: absolute;
      width: 100%;
      height: 100%;
      // opacity: 0;
    }

    .upload-label {
      padding: 10px 33px;
      background: #CBD6DC;
      color: #306685;
      border-radius: 50px;
      text-align: center;
    }
    
    .upload-text {
      font-size: 10px;
      line-height: 11.73px;
      color: #444444;
    }
  }

  button {
    margin: 15px 0;
  }

  hr {
    width: calc(100% - 210px);
  }  

  label {
    font-weight: 500;
    margin: 11px 0;
  }

  // input, select {
  //   font-family: 'Work Sans';
  // }

  .editPopup__Form__Field {
    width: 420px;
    height: 51px;
    // padding: 17px;
    // margin: 11px 0;
    background: #fff;
    box-shadow: #00000017 0px 4px 14px;
    border: none;
  }

  option {
    border: none;
    border-radius: 0;
  }

  .closePopup {
    text-decoration: none;
    color: inherit;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .editPopup__Validate {
    display: none;
  }

  .work {
    margin: 15px 9px;
  
    span {
      display: none;
    }

    img {
      width: 76.61px;
      height: 102.57px;
    }
  }
}

.header {
  max-width: 1140px;
  margin: 50px auto 0 auto;
  display: flex;
  justify-content: space-between;

  .header__Logo {
    width: 213px;
    height: 42px;
  }

  .header__Nav > ul {
    display: flex;

    a.header__Nav__Link {
      text-decoration: none;
      color: color.$black;
      transition: all .3s
    }

    a.header__Nav__Link:hover {
      font-weight: 600;
    }
  }
}

.nav {

  .nav__Menu {

    .nav__Menu__Item {
      margin: 12px 22px;
    }

    .nav__Menu__Item:last-child {
      margin-right: 0;
    }

    .nav__Menu__Item:last-child:hover {
      color: color.$green;
    }
  }
}

.footer {
  width: 100%;
  display: flex;

  .footer__Text {
    margin-left: auto;
    margin-right: 107px;
    padding: 24px 0 20px 0;
    align-self: flex-end;

    a:hover {
      color: color.$green;
    }
  }
}

.main {
  margin: 150px auto 355px auto;
  max-width: 430px;

  .main__Header {
  //   font-weight: 700;
  //   font-size: 30px;
  //   line-height: 36px;
  //   text-align: center;
  //   color: color.$green;
    margin-bottom: 19px;
  }

  .main__FormSection {

    .main__FormSection__PassField {
      margin-top: 30px;
      margin-bottom: 37px;
    }
  }

  .main__FormSection__ActionField {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
  }
}

.form {
    margin: 19px 25.5px 0 25.5px;
    display: flex;
    flex-direction: column;
    gap: 35px;


  .form__Field {
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 14px;
    line-height: 16.42px;

    display: flex;
    flex-direction: column;
    gap: 7px;

    input {
      max-width: 379px;
      height: 51px;
      background: #fff;
      box-shadow: #00000017 0px 4px 14px;
      border: none;
    }


    textarea {
      height: 174px;
      box-shadow: #00000017 0px 4px 14px;
      border: none;
    }
  }

  .form__Action {

    // .form__Action__ConnectButton {
    //   padding: 10px 38px;
    //   border: none;
    //   border-radius: 60px;
    //   background: color.$green;
    //   font-weight: 700;
    //   font-size: 14px;
    //   line-height: 16.8px;
    //   text-align: center;
    //   color: #fff;
    // }

    // .form__Action__ConnectButton:hover {
    //   background: #0E2F28;
    // }

    .form__Action__RedirectLink {
      font-family: 'Work Sans';
      font-weight: 500;
      font-size: 14px;
      line-height: 16.42px;
      color: #3D3D3D;
      transition: all .3s;
    }

    .form__Action__RedirectLink:hover {
      font-weight: 600;
    }

    .form__Action__RedirectLink:focus {
      color: color.$green;
    }
  }
}

.homeMain {
  max-width: 100%;
  margin: 139px 245px;
  display: flex;
  gap: 72px;

  .homeMain__Text {
    max-width: 404px;
    margin: 54px 0;

    .homeMain__Text__Header {
      margin-bottom: 19px;
      text-align: start;
    }

    p {
      font-family: 'Work Sans';
      font-weight: 400;
      font-size: 14px;
      line-height: 16.42px;
    }
  }
}

.projectSection {
  margin: 0 236px 49px 236px;

  .projectSection__Header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 31px;
  }
  
  .projectSection__Container {
    display: flex;
    flex-wrap: wrap;

    .projectSection__Item {
      display: flex;
      flex-direction: column;
      gap: 7px;
      margin: 8px 9px;
    }
  }
}

.gallery {

  img {
    width: 303px;
    height: 407px;
  }
}

.filter {
  text-align: center;
  margin: 45px 0;

  .filterButton {
    margin: 5px;

    @include filterButton.filterButton;
  }
}

.contactSection {
  margin: 150px auto 355px auto;
  max-width: 430px;

  .contactSection__Header {
    margin-bottom: 38px;
  }

  .contactSection__Header__Text {
    text-align: center;
    margin-top: 9px;
  }
}

.work {
  position: relative;

  .workDeleteBtn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: #000;
    border: none;
    margin: 0;
    padding: 4px;
  }
}



@media only screen and (max-width: 1140px) {
  
  .header {
    padding: 0 50px;
    flex-direction: column;
    align-items: center;
    gap: 18px;
  }
}